<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.sancozta.kids-projects.backup</string>
  <key>ProgramArguments</key>
  <array>
    <string>__REPO_ROOT__/scripts/backup-data.sh</string>
  </array>
  <key>WorkingDirectory</key>
  <string>__REPO_ROOT__</string>
  <key>EnvironmentVariables</key>
  <dict>
    <key>PATH</key>
    <string>/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
    <key>KIDS_PROJECTS_BACKUP_RETENTION</key>
    <string>14</string>
  </dict>
  <key>RunAtLoad</key>
  <true/>
  <key>StartCalendarInterval</key>
  <dict>
    <key>Hour</key>
    <integer>3</integer>
    <key>Minute</key>
    <integer>0</integer>
  </dict>
  <key>StandardOutPath</key>
  <string>__REPO_ROOT__/logs/backup.stdout.log</string>
  <key>StandardErrorPath</key>
  <string>__REPO_ROOT__/logs/backup.stderr.log</string>
</dict>
</plist>
