<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.sancozta.kids-projects.watchdog</string>
  <key>ProgramArguments</key>
  <array>
    <string>__REPO_ROOT__/scripts/healthcheck.sh</string>
  </array>
  <key>WorkingDirectory</key>
  <string>__REPO_ROOT__</string>
  <key>EnvironmentVariables</key>
  <dict>
    <key>PATH</key>
    <string>/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
    <key>KIDS_PROJECTS_HOST</key>
    <string>127.0.0.1</string>
    <key>KIDS_PROJECTS_PORT</key>
    <string>46321</string>
    <key>KIDS_PROJECTS_LAUNCHD_LABEL</key>
    <string>com.sancozta.kids-projects</string>
  </dict>
  <key>RunAtLoad</key>
  <true/>
  <key>StartInterval</key>
  <integer>60</integer>
  <key>StandardOutPath</key>
  <string>__REPO_ROOT__/logs/watchdog.stdout.log</string>
  <key>StandardErrorPath</key>
  <string>__REPO_ROOT__/logs/watchdog.stderr.log</string>
</dict>
</plist>
